# Application
APP_PORT=port_number_to_run_your_application
NODE_ENV=node_environment
APP_ENV=app_environment


# Database
## docker postgres
DB_HOST=database_host
DB_PORT=database_port
DB_USERNAME=database_username
DB_PASSWORD=database_password
DB_DATABASE=database_db_name
RUN_MIGRATION=boolean_value_to_run_migrationDB